@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.button-bg{
    background-color: white;
    color: blue;
    
}
.text-black{
    color: white;
    background-color: black;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}
.button-bg a{
    text-decoration: none;
}
.features li{
    list-style: none; 
    padding-bottom: 10px;    
}
.border-radius{
    border-radius: 20px;
    padding-bottom: 30px;
}
.padding-top{
    padding-top: 110px;
}
.choose-me{
    background-color:#fad0eba9;
}
